/public/image/*
/public/images/*
/node_modules
/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
drtech2.zip
drtech3.zip
horizon.conf
*.log
/public/archive.zip
